<div class="assurances-slider">
    <h4>Assurances prises en charge :</h4>
    <div class="slider-container">
        <div class="slider-track">
            <div class="slide">
                <img src="{{ asset('images/assurances/ankara.png') }}" alt="ANKARA">
                <span>ANKARA</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/gga.png') }}" alt="G G A">
                <span>G G A</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/madgi.jpeg') }}" alt="MADGI">
                <span>MADGI</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/mspci.png') }}" alt="MSPCI">
                <span>MSPCI</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/vitasante.jpeg') }}" alt="VITASANTE">
                <span>VITASANTE</span>
            </div>
            <!--<div class="slide">
                <img src="{{ asset('images/assurances/olea.jpeg') }}" alt="OLEA SANTÉ">
                <span>OLEA SANTÉ</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/chorus.jpeg') }}" alt="CHORUS">
                <span>CHORUS</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/atlantique.png') }}" alt="ATLANTIQUE ASSURANCES">
                <span>ATLANTIQUE ASSURANCES</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/cimef.png') }}" alt="CIMEF ASSURANCES">
                <span>CIMEF ASSURANCES</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/vitalis.png') }}" alt="VITALIS SANTÉ">
                <span>VITALIS SANTÉ</span>
            </div>
            <div class="slide">
                <img src="{{ asset('images/assurances/nsia.png') }}" alt="NSIA ASSURANCES">
                <span>NSIA ASSURANCES</span>
            </div>-->
        </div>
    </div>
</div>