<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OrthoDeCoeur - Cabinet d'Orthophonie{% endblock %}</title>
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <footer>
        <div class="contact">
            <h3>Contactez-nous</h3>
            <p>contact@orthodecoeur.fr</p>
            <p>orthodecoeur@gmail.com</p>
            <p>+225 0703096399</p>
        </div>
        <p class="copyright">© {{ "now"|date("Y") }}. All rights reserved. © Jikouzu</p>
    </footer>

    {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/main.js') }}"></script>
</body>
</html>